.Title-Page {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 70px;
    color: rgb(175, 167, 167);
    padding: 25px 0;
}