*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

h3{
  color: black;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(11, 10, 10, 0.959);
  height: 100vh;
  width: 100%;
}


.main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  background-color: rgba(11, 10, 10, 0.959);


  .img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 30%;
  }

  .about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 70%;
  }
}

.carrer{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(11, 10, 10, 0.959);
  flex-direction: row;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
}

.work1{
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 30%;
  gap: 50px;
}

.working1{
  background-color: silver;
  height: 25vh;
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 2px 5px 40px 18px black;
  transition: s;
  gap: 20px;
  padding: 25px;

}

.working1:hover{
  box-shadow: 1px 3px 8px 8px rgb(77, 74, 74);
  padding: 25px;
  cursor: pointer;
}

.divmain{
  background-color: silver;
  height: 80vh;
  width: 35%;
  border-radius: 10px;
  box-shadow: 2px 5px 40px 18px black;
  color: rgb(0, 0, 0);
}

.tec{
  display: flex;
  gap: 20px;
  padding: 7px 0;
  justify-content: center;
  align-items: center;
}

.divmain{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.title{
  height: 7vh;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: solid 2px black;
}

.body{
  height: 70vh;
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  align-items: normal;
  justify-content: end;
  flex-direction: column-reverse;
  padding: 0 40px;
  
}










.section{
  height: 15vh;
  width: 100%;
  background-color: rgba(11, 10, 10, 0.959);

}