<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Sankofa+Display&display=swap" rel="stylesheet">

<main>
    <div class="work1">

        <div class="working1">
            <h2>jjlkjl</h2>
        </div>

        <div class="working1">
            <h2>teste</h2>
        </div>

    </div>
    <div class="main">
        <div class="tile">
            
            <h2 class="title">Minha Carreira até aqui</h2>


        </div>
    </div>
    <div class="work1">
        
        <div class="working1">
            <h2>teste</h2>
        </div>

        <div class="working1">
            <h2>teste</h2>
        </div>

    </div>
</main>
