<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Sankofa+Display&display=swap" rel="stylesheet">

<!--link do DevIcon para importar os icones das tecnologias-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css">


<h4 style="font-family: 'Calibri';">

    Apaixonado por desafios, decidi entrar no mundo da tecnologia em 2021. Comecei me aventurando na área de automação e análise de dados, realizando diversos cursos para dominar ferramentas do pacote Office e linguagens de programação como Python e SQL. Em 2022, conheci o desenvolvimento web e me aproximei bastante da programação voltada para o backend.
    <br>
    Durante 2023, continuei me aperfeiçoando em programação, expandindo meu conhecimento em linguagens como JavaScript, TypeScript e Python (com foco no backend), além de outras ferramentas de desenvolvimento. Nesse período, estudei em várias instituições, incluindo SENAI, Curso em Vídeo, Udemy, Conquer e Rocketseat.
    <br>
    Atualmente, trabalho como freelancer desenvolvendo aplicações web e implementando soluções de automação de tarefas para empresas. E estou cursando Tecnologia da Informação na Faculdade de Tecnologia de Rio Preto (Fatec). 
    <br><br>
    Cada dia é uma nova oportunidade para buscar e enfrentar novos desafios.
    <br><br>
    À baixo algumas tecnologias que tive contato na minha jornada de estudos e na criação de projetos !
    <br><br><br>

    <div class="icons">

        <a href="https://react.dev/" target="_blank"><i class="devicon-react-original-wordmark" style="color: rgb(47, 163, 212);"></i></a>

        <a href="https://angular.dev/" target="_blank"><i class="devicon-angularjs-plain" style="color: red;"></i></a>

        

        <a href="https://nodejs.org/docs/latest/api/" target="_blank"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nodejs/nodejs-original-wordmark.svg" style="height: 11vh;"/></a>

        <a href="https://docs.nestjs.com/" target="_blank"><i class="devicon-nestjs-original" style="color: rgb(245, 64, 64);"></i></a>

        <i class="devicon-django-plain" style="color: rgb(17, 145, 17);"></i>

    </div>

</h4>
