<!--link do DevIcon para importar os icones das tecnologias-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css">


<div class="icons">
    
    <a href="https://www.w3schools.com/html/" target="_blank"><i class="devicon-html5-plain" ></i></a>
    
    <a href="https://www.w3schools.com/Css/" target="_blank"><i class="devicon-css3-plain"></i></a>

    <a href="https://getbootstrap.com/" target="_blank"><i class="devicon-bootstrap-plain-wordmark" ></i></a>

    <a href="https://www.w3schools.com/js/DEFAULT.asp" target="_blank"><i class="devicon-javascript-plain" ></i></a>

    <a href="https://react.dev/" target="_blank"><i class="devicon-react-original-wordmark" ></i></a>

    <a href="https://www.typescriptlang.org/docs/" target="_blank"><i class="devicon-typescript-plain" ></i></a>

    <a href="https://angular.dev/" target="_blank"><i class="devicon-angularjs-plain"></i></a>

    <a href="https://docs.nestjs.com/" target="_blank"><i class="devicon-nestjs-original" ></i></a>

    <a href="https://www.python.org/" target="_blank"><i class="devicon-python-plain"></i></a>

    <a href="https://www.java.com/pt-BR/download/ie_manual.jsp?locale=pt_BR" target="_blank">
        <i class="devicon-java-plain-wordmark"></i>
      </a>
    
    <a href="https://nodejs.org/docs/latest/api/" target="_blank">
        
        <i class="devicon-nodejs-plain-wordmark"></i>
          
      </a>
    
</div>