*{
    margin: auto;
    padding: 0%;
    box-sizing: border-box;
}

.icones{
    overflow: hidden;
    z-index: 10; /* Certifique-se de que este valor seja menor do que o z-index do cabeçalho */
    position: relative; /* Necessário para que o z-index seja aplicado */
    
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    flex-direction: row;
    animation: 15s slides infinite linear;
    padding: 15px 0;
    position: relative; /* Necessário para que o z-index seja aplicado */
    z-index: 10; /* Certifique-se de que este valor seja menor do que o z-index do cabeçalho */
    gap: 50px;
}

@keyframes slides{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

i{
    font-size: 100px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.984);
}

img{
    cursor: pointer;
}

a{
    text-decoration: none;

}

