<div class="experience">
    <h3 style="border-bottom: solid 1px black;">2024   /   trabalhando como Freelancer</h3>
    <p>Freelance focado na construção de sites expositivos e informativos simples, visando o melhor uso do html, css e frameworks como Angular e React e também fazendo aplicações de automação em empresas com python vanilla, visando economia de tempo e recursos.</p>
</div>

<br><br>

<div class="experience">
    <h3 style="border-bottom: solid 1px black;">2021-2023   /   Estudante de programação</h3>
    <p>Estudo focado na base da programação moderna, como principios de engenharia, modelos de designe e boas praticas de aplicação. sempre visando o melhor aprendizado no desenvolvimento de aplicações SPAs com princípios POO.</p>
</div>