<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Sankofa+Display&display=swap" rel="stylesheet">

<!--link para importação dos icones BOOTSTRAP-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">




<header class="header">
    <app-title-component></app-title-component>
</header>
<main class="main-desciption">
    <div class="description"></div>
</main>
<footer class="footer">
    
    <app-icon-component></app-icon-component>

    <i class="bi bi-chevron-compact-down" (click)="scrollToSection()"></i>
    


</footer>

